@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0%;
    padding: 0%;

}

.fixed-2{
    position: fixed;
    right: 0%;
    bottom: 40%;
    font-size: 35px;
    text-align: center;
    width:150px ;
    height:100px ;
    border-radius: 100%;
    
}
.fixed{
    position: fixed;
    right: 0%;
    bottom: 25%;
    font-size: 25px;
    text-align: center;
    width: 150px;
    height: 100px;
    border-radius: 100%; 
}
